{% extends "layout.html" %}
{% block content %}
<body>
    <h2>You have successfully confirmed your reservation!</h2>
    <br>If you wish to cancel your reservation, enter the room number of the room you wish to cancel. 
    Then hit the Cancel Reservation button. Otherwise, hit the Home Page button to return to the Home Page.</br>
    <div class="content-section">
        <form method="POST" action="">
          <!--Hidden tag adds a Cross Site Request Forgery Token
            helps against attacks-->
            <!--forms are taken from app.py-->
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Cancel Reservation</legend>
                  <!--Creates the field for inputting the room number of the reservation being cancelled-->
              <div class="form-group">
                  {{ form.name.label(class="form-control-label") }}
                  <!--Checks for errors in the input-->
                  {% if form.name.errors %}
                      {{ form.name(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                  <!--If no errors are found, the user can then hit the confirm button below to cancel the reservation-->
                      {{ form.name(class="form-control form-control-lg") }}
                      <div class="form-group">
                        {{ form.confirm(class="btn btn-outline-info") }}
                      </div>
                  {% endif %}
              </div>
          </fieldset>
        </form>
      </div>
      <!--User can keep the reservation and select this Home Page button to return to the home page-->
    <a class="mr-2" href="{{ url_for('mainPage') }}">
        <button class="pure-button button-warning confirm" type="submit">Home Page</button>
    </a> 
 </body>
{% endblock content %}