{% extends "layout.html" %}
{% block content %}
    <h1>Falk</h1>
    <h2>Room 101</h2>
    <form action="mailto:smrace@syr.edu" method="POST">
    Building: Falk
        <br></br>
    Capacity: 6
    <br></br>
    Amenities: Whiteboard, Projector
    <div class="text-muted">
        <a class="ml-2" href="{{ url_for('confirmation') }}">Confirm Room</a>
    </div>
    </body>
    <h2>Room 215</h2>
    <form action="mailto:smrace@syr.edu" method="POST">
    Building: Falk
        <br></br>
    Capacity: 6
    <br></br>
    Amenities: Whiteboard, Projector
    <div class="text-muted">
        <a class="ml-2" href="{{ url_for('confirmation') }}">Confirm Room</a>
    </div>
    </body>
    <h2>Room 313</h2>
    <form action="mailto:smrace@syr.edu" method="POST">
    Building: Falk
        <br></br>
    Capacity: 6
    <br></br>
    Amenities: Whiteboard, Projector
    <div class="text-muted">
        <a class="ml-2" href="{{ url_for('confirmation') }}">Confirm Room</a>
    </div>
    </body>
{% endblock content %}