{% extends "layout.html" %}
{% block content %}
    <h1>Life Science Building</h1>
    <h2>Room 140</h2>
    <form action="mailto:smrace@syr.edu" method="POST">
    Building: Life Science Building
        <br></br>
    Capacity: 6
    <br></br>
    Amenities: Whiteboard, Projector, Printer
    <div class="text-muted">
        <a class="ml-2" href="{{ url_for('confirmation') }}">Confirm Room</a>
    </div>
    </body>
    <h2>Room 270</h2>
    <form action="mailto:smrace@syr.edu" method="POST">
    Building: Life Science Building
        <br></br>
    Capacity: 6
    <br></br>
    Amenities: Whiteboard, Projector, Printer
    <div class="text-muted">
        <a class="ml-2" href="{{ url_for('confirmation') }}">Confirm Room</a>
    </div>
    </body>
    <h2>Room 320</h2>
    <form action="mailto:smrace@syr.edu" method="POST">
    Building: Life Science Building
        <br></br>
    Capacity: 6
    <br></br>
    Amenities: Whiteboard, Projector, Printer
    <div class="text-muted">
        <a class="ml-2" href="{{ url_for('confirmation') }}">Confirm Room</a>
    </div>
    </body>
{% endblock content %}