{% extends "layout.html" %}

{% block content %}

      

    <h3>Map</h3>
    <title>Custom Markers</title>
    <!--start javascript-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 50;
        padding: 50;
      }
    </style>
    <script>
      let map;
      /* Initiliaze map from google maps, center on cuse */
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: new google.maps.LatLng(43.037698550614905, -76.13512157165509),
          zoom: 16,
        });
        
          
        /* list of "features" aka points of interest on map */
        const features = [
          {
            /* each element in array is given a lat, long, and content to display */
            position: new google.maps.LatLng(43.039857755410125, -76.13262727106307),
            title: "Bird Library",
            content: '<div id="content">' +
                      '<div id="siteNotice">' +
                      "</div>" +
                      '<h1 id="firstHeading" class="firstHeading">Bird Library</h1>' +
                      '<div id="bodyContent">' +
                      "<p><b>Bird</b> has something for everyone. " +
                      " Starting out in the chaotic team rooms downstairs, Bird gets quieter and quieter as the floors go up.</p>" +
                      '<p>Reserve a Room: <a href="{{ url_for("birdLibrary") }}">' +
                      "Bird Library Rooms</a></p>" +
                      "</div>" +
                      "</div>"
          },
          {
            position: new google.maps.LatLng(43.03745279915024, -76.13070125251859),
            title: "Life Science Building",
            content: '<div id="content">' +
                      '<div id="siteNotice">' +
                      "</div>" +
                      '<h1 id="firstHeading" class="Life Science Building">Life Science Building</h1>' +
                      '<div id="bodyContent">' +
                      "<p><b>LifeSci</b>, an absolutely beautiful building that many of our school's brightest minds work in. " +
                      " Whether it's life sciences or computer science, LifeSci is sure to have the optimal workspace to fit your needs.</p>" +
                      '<p>Reserve a Room: <a href="{{ url_for("lifeScienceBuilding") }}">' +
                      "Life Science Building Rooms</a></p>" +
                      "</div>" +
                      "</div>"
          },
          {
            position: new google.maps.LatLng(43.037397618833126, -76.13744480785901),
            title: "Falk",
            content: '<div id="content">' +
                      '<div id="siteNotice">' +
                      "</div>" +
                      '<h1 id="firstHeading" class="firstHeading">Falk</h1>' +
                      '<div id="bodyContent">' +
                      "<p><b>Falk</b> houses sports sciences, as well as the school of social working." +
                      " Mac or PC labs available right near the building cafe! </p>" +
                      '<p>Reserve a Room: <a href="{{ url_for("falk") }}">' +
                      "Falk Rooms</a></p>" +
                      "</div>" +
                      "</div>"
          },
          {
            position: new google.maps.LatLng(43.040194051377, -76.13567870876192),
            title: "Newhouse",
            content: '<div id="content">' +
                      '<div id="siteNotice">' +
                      "</div>" +
                      '<h1 id="firstHeading" class="firstHeading">Newhouse School of Public Communications </h1>' +
                      '<div id="bodyContent">' +
                      "<p><b>Newhouse</b> is a signature building on SU campus " +
                      " A very modern feel, Newhouse has a few places for you to get work done. As well as some unique features not found elsewhere.</p>" +
                      '<p>Reserve a Room: <a href="{{ url_for("newhouse") }}">' +
                      "Newhouse Rooms</a></p>" +
                      "</div>" +
                      "</div>"
          },
          {
            position: new google.maps.LatLng(43.04211523078793, -76.13393861587879),
            title: "Whitman",
            content: '<div id="content">' +
                      '<div id="siteNotice">' +
                      "</div>" +
                      '<h1 id="firstHeading" class="firstHeading">Whitman School of Management</h1>' +
                      '<div id="bodyContent">' +
                      "<p><b>Whitman</b> " + " is another unique builing on campus. Access to the Bloomberg terminal." +
                      " Many small group team rooms on the upper levels. </p>" +
                      '<p>Reserve a Room: <a href="{{ url_for("whitman") }}">' +
                      "Whitman Rooms</a></p>" +
                      "</div>" +
                      "</div>"
          },
          
        ];
        //InfoWindows
       
      /* creates info window object on points of interest that can be clicked */
       const infowindow0 = new google.maps.InfoWindow({
          content: features[0].content
        });
        const infowindow1 = new google.maps.InfoWindow({
          content: features[1].content
        });
        const infowindow2 = new google.maps.InfoWindow({
          content: features[2].content
        });
        const infowindow3 = new google.maps.InfoWindow({
          content: features[3].content
        });
        const infowindow4 = new google.maps.InfoWindow({
          content: features[4].content
        });
        
        iw = [ infowindow0,infowindow1,infowindow2,infowindow3,infowindow4]
        
        // Create markers.
        /* iterates through features to get markers on map for each */
        for (let i = 0; i < features.length; i++) {
          const marker = new google.maps.Marker({
            position: features[i].position,
            map: map,
            title: features[i].title,
          }
          );
          /* mouse click on marker opens infowindow */
          marker.addListener("click", () => {iw[i].open(map, marker);});
        }
        
      }
    </script>
  <body>
    <div id="map"></div>

 

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      
    
  </body>
</html>
<!--source of map from google maps dev account-->
<script
      
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1XYg0ncxZz907aGGOS_G1bTlfLHF0cCc&map_ids=ca8e04af280ad380&callback=initMap&libraries=&v=weekly"
      async
    ></script>
            
{% endblock content %}

