{% extends "layout.html" %}
{% block content %}
<h1>Please Enter Username and Password</h1>
    <br>
    <br>
    <!--This will connect to database rather than email once database is 
    set up-->
    <form action="mailto:jthoma25@syr.edu" method="POST"></form>
    <br>
    <label for="email">Email: </label>
    <br>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Password: </label>
    <br>
    <input type="text" id="password" name="password">
    <br>
    <br>
    <a href="mainPage">Login</a>
    <br>
    <br>
    <br>
    New to StudySpace?
    <br>
    <a href="createAccount">Create Account</a>
{% endblock content %}