{% extends "layout.html" %}
{% block content %}


        <form method="POST" action="">
    
        <input type="radio" name="group" id="group" value="group">
        <label for="group">Group</label>

        <input type="radio" name="Solo" id="Solo" value="Solo">
        <label for="Solo">Solo</label>
        <br>
        <br> 
        <p>Please select the subject you will be working on:</p>
        <select name=subjects method="GET" action="/">
            <option value= "Math">Math</option>
            <option value= "English">English</option>
            <option value= "Science">Scinece</option>
            <option value= "Social Studies">Social Studies</option>
        </select>
        <br>   
        <br> 
        <a href="map"><input type="submit" value="Submit"></a>

        </form>
    
            
 
{% endblock content %}