{% extends "layout.html" %}
{% block content %}
<h1>Welcome!</h1>
<br>
<br>
<h2>Choose your study method</h2>
<!--This will connect to database rather than email once database is 
    set up-->
<form action="mailto:jthoma25@syr.edu" method="POST"></form>
<br>
<br>
<input type="radio" name="solo" id="solo" value="Solo">
<label for="solo">Solo</label>
<input type="radio" name="Group" id="Group" value="Group">
<label for="Group">Group</label>
<br>
<a href="mainPage"><input type="submit" value="Submit"></a>



{% endblock content %}